<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
	<test name="Android">
		<listeners>
			<listener class-name="com.qa.listeners.TestListener" />
		</listeners>
		<parameter name="emulator" value="false" />
		<parameter name="platformName" value="Android" />
		<parameter name="udid" value="0b0ec1d4ea9a07f7" />
		<parameter name="deviceName" value="54C9DFE03CB9" />
		<parameter name="systemPort" value="10000" />
		<parameter name="chromeDriverPort" value="11000" />
		<classes>
			<class name="com.qa.tests.LoginTests"></class>
			<class name="com.qa.tests.DashboardTests"></class>
			
<!-- 			 <methods>
			      <include name = "validateProductOnProductDetailsPage"/>
 </methods> -->
		</classes>
	</test>
<!-- 	<test name="iPhone11">
		<listeners>
			<listener class-name="com.qa.listeners.TestListener" />
		</listeners>
		<parameter name="platformName" value="iOS" />
		<parameter name="udid" value="replace_with_device_udid" />
		<parameter name="deviceName" value="iPhone11" />
		<parameter name="wdaLocalPort" value="10001" />
		<parameter name="webkitDebugProxyPort" value="11001" />
		<classes>
			<class name="com.qa.tests.LoginTests"></class>
			<class name="com.qa.tests.DashboardTests"></class>
		</classes>
	</test> -->
</suite> <!-- Suite -->
